<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="/css/customers_table.css">
    <script type="text/javascript" src="/js/index.js"></script>

</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div th:if="${skinName}">
    <h2 >上传的皮肤名称："[(${skinName})]"</h2>
</div>
<div th:if="${select}">
    <h2 >选择的内容"[(${select})]"</h2>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/files">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td>皮肤包名称:</td>
                <td><input type="text" name="skinName"/></td>
            </tr>

            <tr>
                <td>Select Cars:</td>
                <td>
                    <select name="select">
                        <option value="volvo">Volvo One</option>
                        <option value="saab">Saab Two</option>
                        <option value="fiat" selected="selected">Fiat Three</option>
                        <option value="audi">Audi Four</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>

    </form>
</div>

<div>
    <table class="customers">
        <tr>
            <th>NAME</th>
            <th>PATH</th>
            <th>QRCode</th>
        </tr>
        <tr th:each="file : ${fileModelList}">
            <td th:text="${file.name}">Jack</td>
            <td th:text="${file.path}">jack@abc.com</td>
            <td><img th:src="@{${file.qrcode}}" alt="" style="width:200px; height:auto;"></td>
        </tr>
    </table>
</div>

</body>
</html>
